<!DOCTYPE html>
<html>
<head>
    <title>User Management</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel='stylesheet'
          href='/stylesheets/style.css'/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="<%= employee ? '/employee-list/' + employee._id + '?_method=PUT' : '/new-employee' %>"
                  method="POST">
                <div class="form-group">
                    <label for="name">
                        Name
                    </label>
                    <input type="text"
                           class="form-control"
                           value="<%= employee ? employee.name : '' %>"
                           name="name"
                           id="name">
                </div>
                <div class="form-group">
                    <label for="Phone">
                        Phone
                    </label>
                    <input type="text"
                           class="form-control"
                           value="<%= employee ? employee.phone : '' %>"
                           name="phone"
                           id="phone">
                </div>
                <div class="form-group">
                    <label for="email">
                        Email
                    </label>
                    <input type="email"
                           class="form-control"
                           value="<%= employee ? employee.email : '' %>"
                           name="email"
                           id="email">
                </div>
                <div class="form-group">
                    <label for="location">
                        Location
                    </label>
                    <input type="text"
                           class="form-control"
                           value="<%= employee ? employee.location : '' %>"
                           name="location"
                           id="location">
                </div>
                <div class="form-group">
                    <label for="department">
                        Department
                    </label>
                    <input type="text"
                           class="form-control"
                           value="<%= employee ? employee.department : '' %>"
                           name="department"
                           id="department">
                </div>
                <div class="form-group">
                    <label for="hireDate">
                        Hire Date
                    </label>
                    <input type="date"
                           class="form-control"
                           value="<%= employee ? employee.hire_date : '' %>"
                           name="hire_date"
                           id="hireDate">
                </div>
                <div class="form-group">
                    <label for="position">
                       Position
                    </label>
                    <input type="text"
                           class="form-control"
                           value="<%= employee ? employee.position : '' %>"
                           name="position"
                           id="position">
                </div>
                <button class="btn btn-default btn-block">
                    <%= employee ? 'Edit' : 'Create' %> Employee
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
